@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.UseSandbox)").click(toggleSandbox);
        $("#@Html.IdFor(model => model.UseAllAvailableCarriers)").click(toggleAllCarriers);
        $("#@Html.IdFor(model => model.AddressVerification)").click(toggleAddressVerification);
        toggleSandbox();
        toggleAddressVerification();
    });

    function toggleSandbox() {
        if ($('#@Html.IdFor(model => model.UseSandbox)').is(':checked')) {
            $('#api-key').hideElement();
            $('#test-api-key').showElement();
            $('#carriers').hideElement();
        } else {
            $('#api-key').showElement();
            $('#test-api-key').hideElement();
            $('#carriers').showElement();
            toggleAllCarriers();
        }
    }

    function toggleAllCarriers() {
        if ($('#@Html.IdFor(model => model.UseAllAvailableCarriers)').is(':checked')) {
            $('#carrier-accounts').hideElement();
        } else {
            $('#carrier-accounts').showElement();
        }
    }

    function toggleAddressVerification() {
        if ($('#@Html.IdFor(model => model.AddressVerification)').is(':checked')) {
            $('#strict-address-verification').showElement();
        } else {
            $('#strict-address-verification').hideElement();
        }
    }
</script>

<form asp-controller="EasyPost" asp-action="Configure" method="post">
    <div class="cards-group">

        <div class="card card-default no-margin">
            <div class="card-header">
                @T("Plugins.Shipping.EasyPost.Configuration.Credentials")
            </div>
            <div class="card-body">
                <p>
                    To enable this shipping provider, you'll need to:<br />
                    <br />
                    1. <a href="https://www.easypost.com/signup" target="_blank">Sign up for an EasyPost account</a><br />
                    2. Enter your carrier specific credentials on the <a href="https://www.easypost.com/account/carriers" target="_blank">Carrier Account Dashboard</a><br />
                    <em>Note: Unless you've entered your carrier information for other carriers, you'll just receive USPS rates.</em><br />
                    <em>Note: Negotiated rates are only available in Production mode.</em><br />
                    3. Find your <a href="https://www.easypost.com/account/api-keys" target="_blank">API keys</a>. Use Test key for testing purposes and switch to your Production key when you're ready to buy real postage.<br />
                    See <a href="https://docs.nopcommerce.com/en/getting-started/configure-shipping/shipping-providers/easypost.html" target="_blank">documentation</a> for more information.<br />
                </p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group row" id="api-key">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" asp-required="true" html-attributes="@(new { value = Model.ApiKey })" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                <div class="form-group row" id="test-api-key">
                    <div class="col-md-3">
                        <nop-label asp-for="TestApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestApiKey" html-attributes="@(new { value = Model.TestApiKey })" />
                        <span asp-validation-for="TestApiKey"></span>
                    </div>
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.ApiKey))
        {
            <div class="card card-default no-margin" id="carriers">
                <div class="card-header">
                    @T("Plugins.Shipping.EasyPost.Configuration.Carriers")
                </div>
                <div class="card-body">
                    <p>
                        When shipment is creating, the service responds with shipping rates for the all carriers you've enabled.
                        If you wish to restrict your rating to a specific carrier, specify carrier accounts here.
                    </p>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="UseAllAvailableCarriers" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="UseAllAvailableCarriers" />
                            <span asp-validation-for="UseAllAvailableCarriers"></span>
                        </div>
                    </div>
                    <div class="form-group row" id="carrier-accounts">
                        <div class="col-md-3">
                            <nop-label asp-for="AvailableCarrierAccounts" />
                        </div>
                        <div class="col-md-9">
                            @if (!Model.AvailableCarrierAccounts.Any())
                            {
                                @T("Plugins.Shipping.EasyPost.Configuration.Fields.CarrierAccounts.None")
                            }
                            @foreach (var account in Model.AvailableCarrierAccounts)
                            {
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="@(nameof(Model.CarrierAccounts))" value="@(account.Value)" checked="@(account.Selected)" />
                                        @(account.Text)
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="card card-default no-margin">
            <div class="card-header">
                @T("Plugins.Shipping.EasyPost.Configuration.AddressVerification")
            </div>
            <div class="card-body">
                <p>
                    EasyPost offers several verification tools that can be used to detect deliverability issues, correct minor errors in spelling/formatting, and determine if an address is residential or not (which has a significant effect on ahipment rating for many carriers).<br />
                    The address verification service supports 240+ countries. See the <a href="https://www.easypost.com/docs/address-verification-by-country" target="_blank">full listing</a> to see which verification level is available for each country. <br />
                    International AVS is also a premium, stand-alone service that must be subscribed to in order to be used. If you'd like to learn more about International AVS, <a href="https://www.easypost.com/talk-to-easypost" target="_blank">contact representatives</a> for more information.
                </p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="AddressVerification" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddressVerification" />
                        <span asp-validation-for="AddressVerification"></span>
                    </div>
                </div>
                <nop-nested-setting asp-for="AddressVerification" id="strict-address-verification" disable-auto-generation="true">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="StrictAddressVerification" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="StrictAddressVerification" />
                            <span asp-validation-for="StrictAddressVerification"></span>
                        </div>
                    </div>
                </nop-nested-setting>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.ApiKey))
        {
            <div class="card card-default no-margin" id="service-configuration">
                <div class="card-header">
                    @T("Plugins.Shipping.EasyPost.Configuration.ServiceConfiguration")
                </div>
                <div class="card-body">
                    <p>
                        Configure which shipping services to display to customers and create rules to hide certain services conditionally.
                        Use the test scenario below to discover available services and preview how rules affect the displayed options.
                    </p>

                    <!-- Test Scenario Section -->
                    <div class="card card-default mb-3">
                        <div class="card-header">
                            Test Scenario
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>City</label>
                                    <input type="text" id="test-city" class="form-control" placeholder="New York" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label>State</label>
                                    <input type="text" id="test-state" class="form-control" placeholder="NY" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label>ZIP Code</label>
                                    <input type="text" id="test-zip" class="form-control" placeholder="10001" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Country</label>
                                    <select id="test-country" class="form-control">
                                        @foreach (var country in Model.AvailableCountries)
                                        {
                                            <option value="@country.Value">@country.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-2 align-self-end">
                                    <button type="button" id="btn-discover-services" class="btn btn-info btn-block">
                                        <i class="fas fa-sync"></i> Discover Services
                                    </button>
                                </div>
                            </div>
                            <div id="discovery-status" class="alert" style="display:none;"></div>
                        </div>
                    </div>

                    <!-- Split Panel View -->
                    <div class="row mb-3" id="services-panel" style="display:none;">
                        <div class="col-md-6">
                            <div class="card card-default">
                                <div class="card-header bg-info text-white">
                                    <i class="fas fa-server"></i> Raw EasyPost Rates
                                </div>
                                <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                                    <div id="raw-services-list"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-default">
                                <div class="card-header bg-success text-white">
                                    <i class="fas fa-eye"></i> Customer-Visible Rates
                                </div>
                                <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                                    <div id="filtered-services-list"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Rule Builder Section -->
                    <div class="card card-default" id="rules-panel" style="display:none;">
                        <div class="card-header">
                            <i class="fas fa-filter"></i> Display Rules
                            <button type="button" id="btn-add-rule" class="btn btn-sm btn-primary float-right">
                                <i class="fas fa-plus"></i> Add Rule
                            </button>
                        </div>
                        <div class="card-body">
                            <div id="rules-list"></div>
                            <div id="no-rules-message" class="text-muted text-center py-3">
                                No rules defined. Click "Add Rule" to create conditional display rules.
                            </div>
                        </div>
                    </div>

                    <!-- Hidden fields to store configuration -->
                    <input type="hidden" id="discovered-services-json" name="discoveredServicesJson" />
                    <input type="hidden" id="service-rules-json" name="serviceRulesJson" />
                </div>
            </div>
        }

        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
            </div>
        </div>

    </div>
</form>

<script>
(function() {
    // State management
    let rawServices = [];
    let discoveredServices = @Html.Raw(Json.Serialize(Model.DiscoveredServices));
    let serviceRules = @Html.Raw(Json.Serialize(Model.ServiceDisplayRules));
    let nextRulePriority = serviceRules.length;

    // Load test scenario from sessionStorage
    function loadTestScenario() {
        const scenario = JSON.parse(sessionStorage.getItem('easypost_test_scenario') || '{}');
        if (scenario.city) $('#test-city').val(scenario.city);
        if (scenario.state) $('#test-state').val(scenario.state);
        if (scenario.zip) $('#test-zip').val(scenario.zip);
        if (scenario.country) $('#test-country').val(scenario.country);
    }

    // Save test scenario to sessionStorage
    function saveTestScenario() {
        const scenario = {
            city: $('#test-city').val(),
            state: $('#test-state').val(),
            zip: $('#test-zip').val(),
            country: $('#test-country').val()
        };
        sessionStorage.setItem('easypost_test_scenario', JSON.stringify(scenario));
    }

    // Discover services from EasyPost
    $('#btn-discover-services').click(function() {
        const btn = $(this);
        btn.prop('disabled', true).html('<i class="fas fa-spinner fa-spin"></i> Discovering...');

        saveTestScenario();

        $.ajax({
            url: '@Url.Action("DiscoverServices", "EasyPost")',
            type: 'POST',
            data: {
                city: $('#test-city').val(),
                stateProvinceId: $('#test-state').val(),
                zipCode: $('#test-zip').val(),
                countryId: $('#test-country').val()
            },
            success: function(response) {
                if (response.success) {
                    rawServices = response.services;
                    discoveredServices = response.services.map(s => ({
                        carrier: s.carrier,
                        service: s.service,
                        displayName: s.displayName,
                        visible: true,
                        displayOrder: 0
                    }));

                    $('#discovery-status')
                        .removeClass('alert-danger')
                        .addClass('alert-success')
                        .html('<i class="fas fa-check-circle"></i> Found ' + rawServices.length + ' services')
                        .show();

                    $('#services-panel, #rules-panel').show();
                    renderServices();
                } else {
                    $('#discovery-status')
                        .removeClass('alert-success')
                        .addClass('alert-danger')
                        .html('<i class="fas fa-exclamation-circle"></i> ' + response.message)
                        .show();
                }
            },
            error: function() {
                $('#discovery-status')
                    .removeClass('alert-success')
                    .addClass('alert-danger')
                    .html('<i class="fas fa-exclamation-circle"></i> Failed to discover services')
                    .show();
            },
            complete: function() {
                btn.prop('disabled', false).html('<i class="fas fa-sync"></i> Discover Services');
            }
        });
    });

    // Render services in both panels
    function renderServices() {
        // Raw services
        let rawHtml = rawServices.map(s =>
            `<div class="p-2 border-bottom">
                <strong>${s.carrier}</strong>: ${s.service}
            </div>`
        ).join('');
        $('#raw-services-list').html(rawHtml);

        // Filtered services
        const filteredServices = applyRules(rawServices);
        let filteredHtml = filteredServices.map(s =>
            `<div class="p-2 border-bottom ${s.visible ? '' : 'text-muted'}">
                <strong>${s.carrier}</strong>: ${s.service}
                ${!s.visible ? '<span class="badge badge-secondary">Hidden</span>' : ''}
            </div>`
        ).join('');
        $('#filtered-services-list').html(filteredHtml || '<div class="text-muted text-center p-3">No services match the current rules</div>');

        renderRules();
    }

    // Apply rules to services (client-side preview)
    function applyRules(services) {
        let filtered = services.map(s => ({...s}));

        // Apply visibility from discovered services
        filtered = filtered.filter(s => {
            const config = discoveredServices.find(d => d.carrier === s.carrier && d.service === s.service);
            return config ? config.visible : true;
        });

        // Apply conditional rules
        const activeRules = serviceRules.filter(r => r.enabled).sort((a, b) => a.priority - b.priority);
        for (const rule of activeRules) {
            const conditionMet = filtered.some(s => matchesPattern(s, rule.ifServiceExists));
            if (conditionMet) {
                filtered = filtered.filter(s => !matchesPattern(s, rule.hideService));
            }
        }

        return filtered;
    }

    // Pattern matching with wildcards
    function matchesPattern(service, pattern) {
        if (!pattern) return false;
        const [carrierPattern, servicePattern] = pattern.split(':');
        if (!carrierPattern || !servicePattern) return false;

        const matchCarrier = carrierPattern === '*' ||
            (carrierPattern.endsWith('*') && service.carrier.startsWith(carrierPattern.slice(0, -1))) ||
            (carrierPattern.startsWith('*') && service.carrier.endsWith(carrierPattern.slice(1))) ||
            service.carrier.toLowerCase() === carrierPattern.toLowerCase();

        const matchService = servicePattern === '*' ||
            (servicePattern.endsWith('*') && service.service.startsWith(servicePattern.slice(0, -1))) ||
            (servicePattern.startsWith('*') && service.service.endsWith(servicePattern.slice(1))) ||
            service.service.toLowerCase() === servicePattern.toLowerCase();

        return matchCarrier && matchService;
    }

    // Render rules list
    function renderRules() {
        if (serviceRules.length === 0) {
            $('#no-rules-message').show();
            $('#rules-list').hide();
            return;
        }

        $('#no-rules-message').hide();
        $('#rules-list').show();

        const rulesHtml = serviceRules.map((rule, index) => `
            <div class="card mb-2" data-rule-index="${index}">
                <div class="card-body p-2">
                    <div class="row align-items-center">
                        <div class="col-md-1 text-center">
                            <i class="fas fa-grip-vertical text-muted"></i>
                        </div>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input rule-enabled" data-index="${index}" ${rule.enabled ? 'checked' : ''}>
                            </div>
                            Hide <code>${rule.hideService}</code> if <code>${rule.ifServiceExists}</code> exists
                            ${rule.description ? `<br><small class="text-muted">${rule.description}</small>` : ''}
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" class="btn btn-sm btn-danger rule-delete" data-index="${index}">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        `).join('');

        $('#rules-list').html(rulesHtml);

        // Attach event handlers
        $('.rule-enabled').change(function() {
            const index = $(this).data('index');
            serviceRules[index].enabled = $(this).is(':checked');
            renderServices();
        });

        $('.rule-delete').click(function() {
            const index = $(this).data('index');
            serviceRules.splice(index, 1);
            renderServices();
        });
    }

    // Add new rule
    $('#btn-add-rule').click(function() {
        const hidePattern = prompt('Enter service pattern to hide (e.g., "USPS:Priority", "FedEx:*", "*:Express"):');
        if (!hidePattern) return;

        const ifPattern = prompt('Hide if this service exists (e.g., "USPS:GroundAdvantage", "UPS:Ground"):');
        if (!ifPattern) return;

        const description = prompt('Optional description for this rule:') || '';

        serviceRules.push({
            hideService: hidePattern,
            ifServiceExists: ifPattern,
            description: description,
            enabled: true,
            priority: nextRulePriority++
        });

        renderServices();
    });

    // Save configuration on form submit
    $('form').submit(function() {
        $('#discovered-services-json').val(JSON.stringify(discoveredServices));
        $('#service-rules-json').val(JSON.stringify(serviceRules));
    });

    // Initialize
    loadTestScenario();
    if (discoveredServices.length > 0) {
        rawServices = discoveredServices;
        $('#services-panel, #rules-panel').show();
        renderServices();
    }
})();
</script>