@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.UseSandbox)").click(toggleSandbox);
        $("#@Html.IdFor(model => model.UseAllAvailableCarriers)").click(toggleAllCarriers);
        $("#@Html.IdFor(model => model.AddressVerification)").click(toggleAddressVerification);
        toggleSandbox();
        toggleAddressVerification();
    });

    function toggleSandbox() {
        if ($('#@Html.IdFor(model => model.UseSandbox)').is(':checked')) {
            $('#api-key').hideElement();
            $('#test-api-key').showElement();
            $('#carriers').hideElement();
        } else {
            $('#api-key').showElement();
            $('#test-api-key').hideElement();
            $('#carriers').showElement();
            toggleAllCarriers();
        }
    }

    function toggleAllCarriers() {
        if ($('#@Html.IdFor(model => model.UseAllAvailableCarriers)').is(':checked')) {
            $('#carrier-accounts').hideElement();
        } else {
            $('#carrier-accounts').showElement();
        }
    }

    function toggleAddressVerification() {
        if ($('#@Html.IdFor(model => model.AddressVerification)').is(':checked')) {
            $('#strict-address-verification').showElement();
        } else {
            $('#strict-address-verification').hideElement();
        }
    }
</script>

<form asp-controller="EasyPost" asp-action="Configure" method="post">
    <div class="cards-group">

        <div class="card card-default no-margin">
            <div class="card-header">
                @T("Plugins.Shipping.EasyPost.Configuration.Credentials")
            </div>
            <div class="card-body">
                <p>
                    To enable this shipping provider, you'll need to:<br />
                    <br />
                    1. <a href="https://www.easypost.com/signup" target="_blank">Sign up for an EasyPost account</a><br />
                    2. Enter your carrier specific credentials on the <a href="https://www.easypost.com/account/carriers" target="_blank">Carrier Account Dashboard</a><br />
                    <em>Note: Unless you've entered your carrier information for other carriers, you'll just receive USPS rates.</em><br />
                    <em>Note: Negotiated rates are only available in Production mode.</em><br />
                    3. Find your <a href="https://www.easypost.com/account/api-keys" target="_blank">API keys</a>. Use Test key for testing purposes and switch to your Production key when you're ready to buy real postage.<br />
                    See <a href="https://docs.nopcommerce.com/en/getting-started/configure-shipping/shipping-providers/easypost.html" target="_blank">documentation</a> for more information.<br />
                </p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group row" id="api-key">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" asp-required="true" html-attributes="@(new { value = Model.ApiKey })" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                <div class="form-group row" id="test-api-key">
                    <div class="col-md-3">
                        <nop-label asp-for="TestApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestApiKey" html-attributes="@(new { value = Model.TestApiKey })" />
                        <span asp-validation-for="TestApiKey"></span>
                    </div>
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.ApiKey))
        {
            <div class="card card-default no-margin" id="carriers">
                <div class="card-header">
                    @T("Plugins.Shipping.EasyPost.Configuration.Carriers")
                </div>
                <div class="card-body">
                    <p>
                        When shipment is creating, the service responds with shipping rates for the all carriers you've enabled.
                        If you wish to restrict your rating to a specific carrier, specify carrier accounts here.
                    </p>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="UseAllAvailableCarriers" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="UseAllAvailableCarriers" />
                            <span asp-validation-for="UseAllAvailableCarriers"></span>
                        </div>
                    </div>
                    <div class="form-group row" id="carrier-accounts">
                        <div class="col-md-3">
                            <nop-label asp-for="AvailableCarrierAccounts" />
                        </div>
                        <div class="col-md-9">
                            @if (!Model.AvailableCarrierAccounts.Any())
                            {
                                @T("Plugins.Shipping.EasyPost.Configuration.Fields.CarrierAccounts.None")
                            }
                            @foreach (var account in Model.AvailableCarrierAccounts)
                            {
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="@(nameof(Model.CarrierAccounts))" value="@(account.Value)" checked="@(account.Selected)" />
                                        @(account.Text)
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="card card-default no-margin">
            <div class="card-header">
                @T("Plugins.Shipping.EasyPost.Configuration.AddressVerification")
            </div>
            <div class="card-body">
                <p>
                    EasyPost offers several verification tools that can be used to detect deliverability issues, correct minor errors in spelling/formatting, and determine if an address is residential or not (which has a significant effect on ahipment rating for many carriers).<br />
                    The address verification service supports 240+ countries. See the <a href="https://www.easypost.com/docs/address-verification-by-country" target="_blank">full listing</a> to see which verification level is available for each country. <br />
                    International AVS is also a premium, stand-alone service that must be subscribed to in order to be used. If you'd like to learn more about International AVS, <a href="https://www.easypost.com/talk-to-easypost" target="_blank">contact representatives</a> for more information.
                </p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="AddressVerification" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddressVerification" />
                        <span asp-validation-for="AddressVerification"></span>
                    </div>
                </div>
                <nop-nested-setting asp-for="AddressVerification" id="strict-address-verification" disable-auto-generation="true">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="StrictAddressVerification" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="StrictAddressVerification" />
                            <span asp-validation-for="StrictAddressVerification"></span>
                        </div>
                    </div>
                </nop-nested-setting>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.ApiKey) || !string.IsNullOrEmpty(Model.TestApiKey))
        {
            <div class="card card-default no-margin" id="service-configuration">
                <div class="card-header">
                    @T("Plugins.Shipping.EasyPost.Configuration.ServiceConfiguration")
                </div>
                <div class="card-body">
                    <p>
                        Configure which shipping services to display to customers and create rules to hide certain services conditionally.
                        Use the test scenario below to discover available services and preview how rules affect the displayed options.
                    </p>

                    <!-- Test Scenario Section -->
                    <div class="card card-default mb-3">
                        <div class="card-header">
                            Test Scenario
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>City</label>
                                    <input type="text" id="test-city" class="form-control" placeholder="New York" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label>State</label>
                                    <input type="text" id="test-state" class="form-control" placeholder="NY" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label>ZIP Code</label>
                                    <input type="text" id="test-zip" class="form-control" placeholder="10001" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Country</label>
                                    <select id="test-country" class="form-control">
                                        @foreach (var country in Model.AvailableCountries)
                                        {
                                            <option value="@country.Value">@country.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Weight (oz)</label>
                                    <input type="number" id="test-weight" class="form-control" placeholder="16" value="16" min="1" step="1" />
                                </div>
                                <div class="form-group col-md-2 align-self-end">
                                    <button type="button" id="btn-discover-services" class="btn btn-info btn-block">
                                        <i class="fas fa-sync"></i> Discover Services
                                    </button>
                                </div>
                            </div>
                            <div id="discovery-status" class="alert" style="display:none;"></div>
                        </div>
                    </div>

                    <!-- Placeholder before discovery -->
                    <div id="services-placeholder" class="card card-default mb-3">
                        <div class="card-body text-center py-5">
                            <i class="fas fa-info-circle fa-3x text-info mb-3"></i>
                            <h5>Discover Available Shipping Services</h5>
                            <p class="text-muted">
                                Enter a test destination address above and click <strong>"Discover Services"</strong> to see
                                which carriers and shipping options are available. You can then configure visibility rules
                                and preview how they affect the customer-facing options.
                            </p>
                        </div>
                    </div>

                    <!-- Split Panel View -->
                    <div class="row mb-3" id="services-panel" style="display:none;">
                        <div class="col-md-6">
                            <div class="card card-default">
                                <div class="card-header bg-info text-white">
                                    <i class="fas fa-server"></i> Raw EasyPost Rates
                                </div>
                                <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                                    <div id="raw-services-list"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-default">
                                <div class="card-header bg-success text-white">
                                    <i class="fas fa-eye"></i> Customer-Visible Rates
                                </div>
                                <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                                    <div id="filtered-services-list"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Rule Builder Section -->
                    <div class="card card-default" id="rules-panel">
                        <div class="card-header">
                            <i class="fas fa-filter"></i> Display Rules
                        </div>
                        <div class="card-body">
                            <!-- Add Rule Form -->
                            <div class="card bg-light mb-3">
                                <div class="card-body">
                                    <h6 class="card-title">Add New Rule</h6>

                                    <!-- Rule Type Selection -->
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <label>Rule Type:</label>
                                            <div class="btn-group btn-group-toggle d-block" data-toggle="buttons">
                                                <label class="btn btn-outline-primary active">
                                                    <input type="radio" name="rule-type" id="rule-type-hide" value="hide" checked> Hide Service
                                                </label>
                                                <label class="btn btn-outline-primary">
                                                    <input type="radio" name="rule-type" id="rule-type-priority" value="priority"> Priority List
                                                </label>
                                                <label class="btn btn-outline-primary">
                                                    <input type="radio" name="rule-type" id="rule-type-price-priority" value="price-priority"> Cheapest From Group
                                                </label>
                                                <label class="btn btn-outline-primary">
                                                    <input type="radio" name="rule-type" id="rule-type-remove-unmatched" value="remove-unmatched"> Remove Unmatched
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Conditional Hide Rule Fields -->
                                    <div id="hide-rule-fields">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Hide service:</label>
                                                <select id="rule-hide-service" class="form-control">
                                                    <option value="">Select service...</option>
                                                </select>
                                                <small class="form-text text-muted">Or enter pattern like "USPS:*" or "*:Express"</small>
                                                <input type="text" id="rule-hide-pattern" class="form-control form-control-sm mt-1" placeholder="Custom pattern (optional)">
                                            </div>
                                            <div class="col-md-5">
                                                <label>If this service exists <small class="text-muted">(leave blank for always)</small>:</label>
                                                <select id="rule-if-service" class="form-control">
                                                    <option value="">Select service or leave blank...</option>
                                                </select>
                                                <small class="form-text text-muted">Or enter pattern</small>
                                                <input type="text" id="rule-if-pattern" class="form-control form-control-sm mt-1" placeholder="Custom pattern (optional)">
                                            </div>
                                            <div class="col-md-2">
                                                <label>&nbsp;</label>
                                                <button type="button" id="btn-add-rule" class="btn btn-primary btn-block">
                                                    <i class="fas fa-plus"></i> Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Priority List Rule Fields -->
                                    <div id="priority-rule-fields" style="display:none;">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <label>Priority Services (first available will be shown):</label>
                                                <div id="priority-services-builder" class="border rounded p-2 bg-white">
                                                    <div id="priority-services-list"></div>
                                                    <div class="input-group mt-2">
                                                        <select id="priority-service-select" class="form-control">
                                                            <option value="">Select service to add...</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <button type="button" id="btn-add-priority-service" class="btn btn-secondary">
                                                                <i class="fas fa-plus"></i> Add
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>&nbsp;</label>
                                                <button type="button" id="btn-add-priority-rule" class="btn btn-primary btn-block">
                                                    <i class="fas fa-plus"></i> Add Rule
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Price-Priority List Rule Fields -->
                                    <div id="price-priority-rule-fields" style="display:none;">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <label>Service Group (cheapest will be shown):</label>
                                                <div id="price-priority-services-builder" class="border rounded p-2 bg-white">
                                                    <div id="price-priority-services-list"></div>
                                                    <div class="input-group mt-2">
                                                        <select id="price-priority-service-select" class="form-control">
                                                            <option value="">Select service to add...</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <button type="button" id="btn-add-price-priority-service" class="btn btn-secondary">
                                                                <i class="fas fa-plus"></i> Add
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>&nbsp;</label>
                                                <button type="button" id="btn-add-price-priority-rule" class="btn btn-primary btn-block">
                                                    <i class="fas fa-plus"></i> Add Rule
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Remove Unmatched Rule Fields -->
                                    <div id="remove-unmatched-rule-fields" style="display:none;">
                                        <div class="alert alert-info">
                                            <i class="fas fa-info-circle"></i>
                                            <strong>Remove Unmatched:</strong> This rule will hide any services that haven't been matched by previous rules.
                                            Use this after Priority Lists or Hide rules to remove everything else.
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <p class="text-muted">No additional configuration needed. This rule will be applied based on its position in the rule list.</p>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" id="btn-add-remove-unmatched-rule" class="btn btn-primary btn-block">
                                                    <i class="fas fa-plus"></i> Add Rule
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <label>Description (optional):</label>
                                            <input type="text" id="rule-description" class="form-control" placeholder="e.g., Show cheapest option only">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Existing Rules List -->
                            <div id="rules-list"></div>
                            <div id="no-rules-message" class="text-muted text-center py-3">
                                No rules defined yet.
                            </div>
                        </div>
                    </div>

                    <!-- Hidden fields to store configuration -->
                    <input type="hidden" id="discovered-services-json" name="discoveredServicesJson" />
                    <input type="hidden" id="service-rules-json" name="serviceRulesJson" />
                </div>
            </div>
        }

        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
            </div>
        </div>

    </div>
</form>

<script>
(function() {
    // State management
    let rawServices = [];
    let discoveredServices = @Html.Raw(Json.Serialize(Model.DiscoveredServices));
    let serviceRules = @Html.Raw(Json.Serialize(Model.ServiceDisplayRules));

    // Debug: Log loaded rules to check property names
    console.log('Loaded serviceRules:', serviceRules);

    // Normalize property names from C# PascalCase to JavaScript camelCase if needed
    // Also handle enum values: 0 = ConditionalHide, 1 = PriorityList, 2 = PricePriorityList
    serviceRules = serviceRules.map(rule => {
        let ruleType = rule.ruleType || rule.RuleType || 0;
        // Convert numeric enum to string if needed (for consistency)
        if (typeof ruleType === 'number') {
            ruleType = ['ConditionalHide', 'PriorityList', 'PricePriorityList'][ruleType] || 'ConditionalHide';
        }

        return {
            ruleType: ruleType,
            hideService: rule.hideService || rule.HideService,
            ifServiceExists: rule.ifServiceExists || rule.IfServiceExists,
            priorityServices: rule.priorityServices || rule.PriorityServices || [],
            description: rule.description || rule.Description,
            enabled: rule.enabled !== undefined ? rule.enabled : (rule.Enabled !== undefined ? rule.Enabled : true),
            priority: rule.priority !== undefined ? rule.priority : (rule.Priority || 0)
        };
    });

    console.log('Normalized serviceRules:', serviceRules);

    let nextRulePriority = serviceRules.length;

    // Load test scenario from sessionStorage
    function loadTestScenario() {
        const scenario = JSON.parse(sessionStorage.getItem('easypost_test_scenario') || '{}');
        if (scenario.city) $('#test-city').val(scenario.city);
        if (scenario.state) $('#test-state').val(scenario.state);
        if (scenario.zip) $('#test-zip').val(scenario.zip);
        if (scenario.country) $('#test-country').val(scenario.country);
        if (scenario.weight) $('#test-weight').val(scenario.weight);
    }

    // Save test scenario to sessionStorage
    function saveTestScenario() {
        const scenario = {
            city: $('#test-city').val(),
            state: $('#test-state').val(),
            zip: $('#test-zip').val(),
            country: $('#test-country').val(),
            weight: $('#test-weight').val()
        };
        sessionStorage.setItem('easypost_test_scenario', JSON.stringify(scenario));
    }

    // Discover services from EasyPost
    $('#btn-discover-services').click(function() {
        const btn = $(this);
        // Basic validation
        const city = $('#test-city').val();
        const state = $('#test-state').val();
        const zipCode = $('#test-zip').val();
        const countryId = $('#test-country').val();
        const weight = $('#test-weight').val() || '16';

        console.log('Discovering services with:', { city, state, zipCode, countryId, weight });

        if (!city || !zipCode || !countryId) {
            $('#discovery-status')
                .removeClass('alert-success')
                .addClass('alert-danger')
                .html('<i class="fas fa-exclamation-circle"></i> Please fill in City, ZIP Code, and Country')
                .show();
            return;
        }

        btn.prop('disabled', true).html('<i class="fas fa-spinner fa-spin"></i> Discovering...');

        saveTestScenario();

        $.ajax({
            url: '@Url.Action("DiscoverServices", "EasyPost")',
            type: 'POST',
            data: {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                city: city,
                state: state,
                zipCode: zipCode,
                countryId: countryId,
                weight: weight
            },
            success: function(response) {
                console.log('Discovery response:', response);
                if (response.success) {
                    rawServices = response.services;
                    discoveredServices = response.services.map(s => ({
                        carrier: s.carrier,
                        service: s.service,
                        displayName: s.displayName,
                        visible: true,
                        displayOrder: 0,
                        rate: s.rate
                    }));

                    $('#discovery-status')
                        .removeClass('alert-danger')
                        .addClass('alert-success')
                        .html('<i class="fas fa-check-circle"></i> Found ' + rawServices.length + ' services')
                        .show();

                    // Hide placeholder and show services panel
                    $('#services-placeholder').hide();
                    $('#services-panel').show();
                    renderServices();
                } else {
                    console.error('Discovery failed:', response.message);
                    $('#discovery-status')
                        .removeClass('alert-success')
                        .addClass('alert-danger')
                        .html('<i class="fas fa-exclamation-circle"></i> ' + (response.message || 'Unknown error'))
                        .show();
                }
            },
            error: function(xhr, status, error) {
                console.error('Discovery AJAX error:', { xhr: xhr, status: status, error: error });
                console.error('Response text:', xhr.responseText);

                let errorMsg = 'Failed to discover services';
                if (xhr.responseJSON && xhr.responseJSON.message) {
                    errorMsg = xhr.responseJSON.message;
                } else if (xhr.responseText) {
                    errorMsg += ': ' + xhr.responseText.substring(0, 200);
                } else if (error) {
                    errorMsg += ': ' + error;
                }
                $('#discovery-status')
                    .removeClass('alert-success')
                    .addClass('alert-danger')
                    .html('<i class="fas fa-exclamation-circle"></i> ' + errorMsg)
                    .show();
            },
            complete: function() {
                btn.prop('disabled', false).html('<i class="fas fa-sync"></i> Discover Services');
            }
        });
    });

    // Render services in both panels
    function renderServices() {
        // Raw services
        let rawHtml = rawServices.map(s =>
            `<div class="p-2 border-bottom d-flex justify-content-between align-items-center">
                <span><strong>${s.carrier}</strong>: ${s.service}</span>
                <span class="badge badge-info">$${s.rate ? s.rate.toFixed(2) : '0.00'}</span>
            </div>`
        ).join('');
        $('#raw-services-list').html(rawHtml);

        // Filtered services
        const { visible, hidden } = applyRules(rawServices);

        let filteredHtml = '';

        // Show visible services
        filteredHtml += visible.map(s =>
            `<div class="p-2 border-bottom d-flex justify-content-between align-items-center">
                <span><strong>${s.carrier}</strong>: ${s.service}</span>
                <span class="badge badge-success">$${s.rate ? s.rate.toFixed(2) : '0.00'}</span>
            </div>`
        ).join('');

        // Show hidden services crossed out with reason
        filteredHtml += hidden.map(s =>
            `<div class="p-2 border-bottom">
                <div class="d-flex justify-content-between align-items-center text-muted">
                    <span style="text-decoration: line-through;">
                        <strong>${s.carrier}</strong>: ${s.service}
                    </span>
                    <span class="badge badge-secondary" style="text-decoration: none;">$${s.rate ? s.rate.toFixed(2) : '0.00'}</span>
                </div>
                <small class="text-danger">
                    <i class="fas fa-ban"></i> ${s.hiddenReason}
                </small>
            </div>`
        ).join('');

        $('#filtered-services-list').html(filteredHtml || '<div class="text-muted text-center p-3">No services available</div>');

        // Update service dropdowns when services change
        populateServiceDropdowns();

        renderRules();
    }

    // Apply rules to services (client-side preview)
    // Returns { visible: [], hidden: [] } where hidden includes blocking rule info
    function applyRules(services) {
        let result = services.map(s => ({...s, hiddenBy: null, hiddenReason: null, matchedByRule: false}));

        // Apply visibility from discovered services
        result.forEach(s => {
            const config = discoveredServices.find(d => d.carrier === s.carrier && d.service === s.service);
            if (config && !config.visible) {
                s.hiddenBy = 'manual';
                s.hiddenReason = 'Manually disabled';
            }
        });

        // Apply all rules (order matters!)
        const activeRules = serviceRules.filter(r => r.enabled).sort((a, b) => a.priority - b.priority);
        for (const rule of activeRules) {
            // Handle both string and numeric enum values (0 = ConditionalHide, 1 = PriorityList, 2 = PricePriorityList)
            const isPriorityList = rule.ruleType === 'PriorityList' || rule.ruleType === 1;
            const isPricePriorityList = rule.ruleType === 'PricePriorityList' || rule.ruleType === 2;

            if (isPriorityList) {
                // Priority List Rule: Show only the first available service from the list
                let firstFound = false;
                for (const pattern of rule.priorityServices) {
                    const matchingServices = result.filter(s => !s.hiddenBy && matchesPattern(s, pattern));

                    if (matchingServices.length > 0 && !firstFound) {
                        // This is the first available service - keep it visible and mark as matched
                        matchingServices[0].matchedByRule = true;
                        firstFound = true;
                    } else if (matchingServices.length > 0) {
                        // Hide subsequent matches but mark them as matched
                        matchingServices.forEach(s => {
                            s.matchedByRule = true;
                            s.hiddenBy = 'rule';
                            s.hiddenReason = `Hidden by priority rule`;
                            if (rule.description) {
                                s.hiddenReason += ` (${rule.description})`;
                            }
                        });
                    }
                }
            } else if (isPricePriorityList) {
                // Price-Priority List Rule: Show only the cheapest service from the group
                let allMatchingServices = [];
                for (const pattern of rule.priorityServices) {
                    const matchingServices = result.filter(s => !s.hiddenBy && matchesPattern(s, pattern));
                    allMatchingServices.push(...matchingServices);
                }

                if (allMatchingServices.length > 0) {
                    // Mark all as matched
                    allMatchingServices.forEach(s => s.matchedByRule = true);

                    if (allMatchingServices.length > 1) {
                        // Sort by rate (price) ascending
                        allMatchingServices.sort((a, b) => (a.rate || 0) - (b.rate || 0));

                        // Keep the cheapest one, hide the rest
                        const cheapest = allMatchingServices[0];
                        allMatchingServices.slice(1).forEach(s => {
                            s.hiddenBy = 'rule';
                            s.hiddenReason = `Hidden - more expensive than ${cheapest.carrier} ${cheapest.service} ($${cheapest.rate.toFixed(2)})`;
                            if (rule.description) {
                                s.hiddenReason += ` (${rule.description})`;
                            }
                        });
                    }
                }
            } else if (rule.ruleType === 'RemoveUnmatched' || rule.ruleType === 3) {
                // RemoveUnmatched: Hide any services not matched by previous rules
                result.forEach(s => {
                    if (!s.hiddenBy && !s.matchedByRule) {
                        s.hiddenBy = 'rule';
                        s.hiddenReason = 'Not matched by any previous rule';
                        if (rule.description) {
                            s.hiddenReason += ` (${rule.description})`;
                        }
                    }
                });
            } else {
                // Conditional Hide Rule
                const conditionMet = !rule.ifServiceExists ||
                    result.some(s => !s.hiddenBy && matchesPattern(s, rule.ifServiceExists));

                if (conditionMet) {
                    result.forEach(s => {
                        if (!s.hiddenBy && matchesPattern(s, rule.hideService)) {
                            s.matchedByRule = true; // Mark as matched
                            s.hiddenBy = 'rule';
                            if (rule.ifServiceExists) {
                                s.hiddenReason = `Hidden because ${rule.ifServiceExists} exists`;
                            } else {
                                s.hiddenReason = `Always hidden`;
                            }
                            if (rule.description) {
                                s.hiddenReason += ` (${rule.description})`;
                            }
                        }
                    });
                }
            }
        }

        return {
            visible: result.filter(s => !s.hiddenBy),
            hidden: result.filter(s => s.hiddenBy)
        };
    }

    // Pattern matching with wildcards
    function matchesPattern(service, pattern) {
        if (!pattern) return false;
        const [carrierPattern, servicePattern] = pattern.split(':');
        if (!carrierPattern || !servicePattern) return false;

        const matchCarrier = carrierPattern === '*' ||
            (carrierPattern.endsWith('*') && service.carrier.startsWith(carrierPattern.slice(0, -1))) ||
            (carrierPattern.startsWith('*') && service.carrier.endsWith(carrierPattern.slice(1))) ||
            service.carrier.toLowerCase() === carrierPattern.toLowerCase();

        const matchService = servicePattern === '*' ||
            (servicePattern.endsWith('*') && service.service.startsWith(servicePattern.slice(0, -1))) ||
            (servicePattern.startsWith('*') && service.service.endsWith(servicePattern.slice(1))) ||
            service.service.toLowerCase() === servicePattern.toLowerCase();

        return matchCarrier && matchService;
    }

    // Render rules list
    function renderRules() {
        if (serviceRules.length === 0) {
            $('#no-rules-message').show();
            $('#rules-list').hide();
            return;
        }

        $('#no-rules-message').hide();
        $('#rules-list').show();

        const rulesHtml = serviceRules.map((rule, index) => {
            let ruleContent = '';

            // Handle both string and numeric enum values (0 = ConditionalHide, 1 = PriorityList, 2 = PricePriorityList, 3 = RemoveUnmatched)
            const isPriorityList = rule.ruleType === 'PriorityList' || rule.ruleType === 1;
            const isPricePriorityList = rule.ruleType === 'PricePriorityList' || rule.ruleType === 2;
            const isRemoveUnmatched = rule.ruleType === 'RemoveUnmatched' || rule.ruleType === 3;

            if (isPriorityList) {
                ruleContent = `
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input rule-enabled" data-index="${index}" ${rule.enabled ? 'checked' : ''}>
                    </div>
                    <strong>Priority List:</strong> Show first available from:
                    <ol class="mb-0 pl-4">
                        ${rule.priorityServices.map(s => `<li><code>${s}</code></li>`).join('')}
                    </ol>
                    ${rule.description ? `<small class="text-muted">${rule.description}</small>` : ''}
                `;
            } else if (isPricePriorityList) {
                ruleContent = `
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input rule-enabled" data-index="${index}" ${rule.enabled ? 'checked' : ''}>
                    </div>
                    <strong>Cheapest From:</strong>
                    <ul class="mb-0 pl-4">
                        ${rule.priorityServices.map(s => `<li><code>${s}</code></li>`).join('')}
                    </ul>
                    ${rule.description ? `<small class="text-muted">${rule.description}</small>` : ''}
                `;
            } else if (isRemoveUnmatched) {
                ruleContent = `
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input rule-enabled" data-index="${index}" ${rule.enabled ? 'checked' : ''}>
                    </div>
                    <strong>Remove Unmatched:</strong> Hide services not matched by previous rules
                    ${rule.description ? `<br><small class="text-muted">${rule.description}</small>` : ''}
                `;
            } else {
                const condition = rule.ifServiceExists
                    ? `if <code>${rule.ifServiceExists}</code> exists`
                    : `<strong>always</strong>`;

                ruleContent = `
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input rule-enabled" data-index="${index}" ${rule.enabled ? 'checked' : ''}>
                    </div>
                    Hide <code>${rule.hideService}</code> ${condition}
                    ${rule.description ? `<br><small class="text-muted">${rule.description}</small>` : ''}
                `;
            }

            return `
                <div class="card mb-2" data-rule-index="${index}">
                    <div class="card-body p-2">
                        <div class="row align-items-center">
                            <div class="col-md-1 text-center">
                                <button type="button" class="btn btn-sm btn-link rule-move-up" data-index="${index}" ${index === 0 ? 'disabled' : ''}>
                                    <i class="fas fa-arrow-up"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-link rule-move-down" data-index="${index}" ${index === serviceRules.length - 1 ? 'disabled' : ''}>
                                    <i class="fas fa-arrow-down"></i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                ${ruleContent}
                            </div>
                            <div class="col-md-2 text-right">
                                <button type="button" class="btn btn-sm btn-danger rule-delete" data-index="${index}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            `;
        }).join('');

        $('#rules-list').html(rulesHtml);

        // Attach event handlers
        $('.rule-enabled').change(function() {
            const index = $(this).data('index');
            serviceRules[index].enabled = $(this).is(':checked');
            renderServices();
        });

        $('.rule-delete').click(function() {
            const index = $(this).data('index');
            serviceRules.splice(index, 1);
            renderServices();
        });

        $('.rule-move-up').click(function() {
            const index = parseInt($(this).data('index'));
            if (index > 0) {
                // Swap with previous rule
                [serviceRules[index - 1], serviceRules[index]] =
                [serviceRules[index], serviceRules[index - 1]];

                // Update priorities
                serviceRules[index - 1].priority = index - 1;
                serviceRules[index].priority = index;

                renderServices();
            }
        });

        $('.rule-move-down').click(function() {
            const index = parseInt($(this).data('index'));
            if (index < serviceRules.length - 1) {
                // Swap with next rule
                [serviceRules[index], serviceRules[index + 1]] =
                [serviceRules[index + 1], serviceRules[index]];

                // Update priorities
                serviceRules[index].priority = index;
                serviceRules[index + 1].priority = index + 1;

                renderServices();
            }
        });
    }

    // Add new rule
    // Populate service dropdowns
    function populateServiceDropdowns() {
        const options = rawServices.map(s =>
            `<option value="${s.carrier}:${s.service}">${s.displayName}</option>`
        ).join('');

        $('#rule-hide-service, #rule-if-service, #priority-service-select, #price-priority-service-select')
            .html('<option value="">Select service...</option>' + options);
    }

    // Rule type toggle
    $('input[name="rule-type"]').change(function() {
        const value = $(this).val();
        $('#hide-rule-fields, #priority-rule-fields, #price-priority-rule-fields, #remove-unmatched-rule-fields').hide();

        if (value === 'hide') {
            $('#hide-rule-fields').show();
        } else if (value === 'priority') {
            $('#priority-rule-fields').show();
        } else if (value === 'price-priority') {
            $('#price-priority-rule-fields').show();
        } else if (value === 'remove-unmatched') {
            $('#remove-unmatched-rule-fields').show();
        }
    });

    // Populate text inputs when selecting from dropdowns
    $('#rule-hide-service').change(function() {
        const value = $(this).val();
        if (value) {
            $('#rule-hide-pattern').val(value);
        }
    });

    $('#rule-if-service').change(function() {
        const value = $(this).val();
        if (value) {
            $('#rule-if-pattern').val(value);
        }
    });

    // Priority services list management
    let currentPriorityServices = [];

    $('#btn-add-priority-service').click(function() {
        const service = $('#priority-service-select').val();
        if (!service) return;

        if (currentPriorityServices.includes(service)) {
            alert('Service already in list');
            return;
        }

        currentPriorityServices.push(service);
        renderPriorityServicesList();
        $('#priority-service-select').val('');
    });

    function renderPriorityServicesList() {
        if (currentPriorityServices.length === 0) {
            $('#priority-services-list').html('<div class="text-muted text-center py-2">No services added yet</div>');
            return;
        }

        const html = currentPriorityServices.map((service, index) => `
            <div class="d-flex align-items-center justify-content-between p-2 border-bottom">
                <span><strong>${index + 1}.</strong> ${service}</span>
                <div>
                    <button type="button" class="btn btn-sm btn-link priority-move-up" data-index="${index}" ${index === 0 ? 'disabled' : ''}>
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-link priority-move-down" data-index="${index}" ${index === currentPriorityServices.length - 1 ? 'disabled' : ''}>
                        <i class="fas fa-arrow-down"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-link text-danger priority-remove" data-index="${index}">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        `).join('');

        $('#priority-services-list').html(html);

        // Event handlers for priority list management
        $('.priority-move-up').click(function() {
            const index = parseInt($(this).data('index'));
            if (index > 0) {
                [currentPriorityServices[index - 1], currentPriorityServices[index]] =
                [currentPriorityServices[index], currentPriorityServices[index - 1]];
                renderPriorityServicesList();
            }
        });

        $('.priority-move-down').click(function() {
            const index = parseInt($(this).data('index'));
            if (index < currentPriorityServices.length - 1) {
                [currentPriorityServices[index], currentPriorityServices[index + 1]] =
                [currentPriorityServices[index + 1], currentPriorityServices[index]];
                renderPriorityServicesList();
            }
        });

        $('.priority-remove').click(function() {
            const index = parseInt($(this).data('index'));
            currentPriorityServices.splice(index, 1);
            renderPriorityServicesList();
        });
    }

    // Add conditional hide rule
    $('#btn-add-rule').click(function() {
        // Prefer text input (allows editing), fall back to dropdown
        let hideService = $('#rule-hide-pattern').val().trim();
        if (!hideService) {
            hideService = $('#rule-hide-service').val();
        }

        let ifService = $('#rule-if-pattern').val().trim();
        if (!ifService) {
            ifService = $('#rule-if-service').val();
        }

        const description = $('#rule-description').val().trim();

        if (!hideService) {
            alert('Please select or enter a service to hide');
            return;
        }

        serviceRules.push({
            ruleType: 'ConditionalHide',
            hideService: hideService,
            ifServiceExists: ifService || null,
            description: description,
            enabled: true,
            priority: nextRulePriority++
        });

        // Clear form
        $('#rule-hide-service, #rule-if-service').val('');
        $('#rule-hide-pattern, #rule-if-pattern, #rule-description').val('');

        renderServices();
    });

    // Add priority list rule
    $('#btn-add-priority-rule').click(function() {
        const description = $('#rule-description').val().trim();

        if (currentPriorityServices.length < 2) {
            alert('Please add at least 2 services to the priority list');
            return;
        }

        serviceRules.push({
            ruleType: 'PriorityList',
            priorityServices: [...currentPriorityServices],
            description: description,
            enabled: true,
            priority: nextRulePriority++
        });

        // Clear form
        currentPriorityServices = [];
        renderPriorityServicesList();
        $('#rule-description').val('');

        renderServices();
    });

    // Price-priority services list management
    let currentPricePriorityServices = [];

    $('#btn-add-price-priority-service').click(function() {
        const service = $('#price-priority-service-select').val();
        if (!service) return;

        if (currentPricePriorityServices.includes(service)) {
            alert('Service already in group');
            return;
        }

        currentPricePriorityServices.push(service);
        renderPricePriorityServicesList();
        $('#price-priority-service-select').val('');
    });

    function renderPricePriorityServicesList() {
        if (currentPricePriorityServices.length === 0) {
            $('#price-priority-services-list').html('<div class="text-muted text-center py-2">No services added yet</div>');
            return;
        }

        const html = currentPricePriorityServices.map((service, index) => `
            <div class="d-flex align-items-center justify-content-between p-2 border-bottom">
                <span>${service}</span>
                <button type="button" class="btn btn-sm btn-link text-danger price-priority-remove" data-index="${index}">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        `).join('');

        $('#price-priority-services-list').html(html);

        $('.price-priority-remove').click(function() {
            const index = parseInt($(this).data('index'));
            currentPricePriorityServices.splice(index, 1);
            renderPricePriorityServicesList();
        });
    }

    // Add price-priority list rule
    $('#btn-add-price-priority-rule').click(function() {
        const description = $('#rule-description').val().trim();

        if (currentPricePriorityServices.length < 2) {
            alert('Please add at least 2 services to the group');
            return;
        }

        serviceRules.push({
            ruleType: 'PricePriorityList',
            priorityServices: [...currentPricePriorityServices],
            description: description,
            enabled: true,
            priority: nextRulePriority++
        });

        // Clear form
        currentPricePriorityServices = [];
        renderPricePriorityServicesList();
        $('#rule-description').val('');

        renderServices();
    });

    // Add remove-unmatched rule
    $('#btn-add-remove-unmatched-rule').click(function() {
        const description = $('#rule-description').val().trim();

        serviceRules.push({
            ruleType: 'RemoveUnmatched',
            description: description,
            enabled: true,
            priority: nextRulePriority++
        });

        // Clear form
        $('#rule-description').val('');

        renderServices();
    });

    // Save configuration on form submit
    $('form').submit(function() {
        const servicesJson = JSON.stringify(discoveredServices);
        const rulesJson = JSON.stringify(serviceRules);

        console.log('Saving discovered services:', servicesJson);
        console.log('Saving service rules:', rulesJson);

        $('#discovered-services-json').val(servicesJson);
        $('#service-rules-json').val(rulesJson);

        // Verify the values were set
        console.log('Hidden field values set:', {
            services: $('#discovered-services-json').val().length + ' chars',
            rules: $('#service-rules-json').val().length + ' chars'
        });
    });

    // Initialize
    loadTestScenario();

    // Render any existing rules loaded from the database
    renderRules();

    // Don't auto-load services from model since they won't have rate data
    // User must click "Discover Services" to populate the testing panels
    // Rules are still loaded and will be applied when services are discovered
})();
</script>